body{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-game{
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(44, 139, 44);
}

.information{
    margin-top: 0px;
    font-family: 'Trebuchet MS';
    margin-bottom: 5px;
    color: rgb(44, 139, 44);
}